<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>WLM - Water Level Meter</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<p>
WLM – is a smart system for monitoring water level in wells.
</p>
<img>
<p>
WLM is a smart system for monitoring water level. It uses a pressure sensor, which is lowered to the bottom of the well, measures the pressure level and sends the information to an electronic device positioned in the annular space. This device is connected to your home WiFi system and sends the data to our Internet server. Based on the gained data, the water level is calculated here (with the accuracy of 1 cm) and stored in a database. Afterwards, using your computer or your phone, you can find out about not only the current water level in your well but also how it changed during the whole day, week, or month, or during any period of measuring.
</p>
<h2>The beginnings of WLM</h2>
<p>
When I wanted to start measuring the water level in our family well, I was surprised to learn that a professional string and plumb bob with an accurate tape measure cost $250. Also, this would only allow me to measure the current water level without the possibility to easily get an overview of older data on regular basis. The device I would wish to have for this exists and it is used in industry, but it costs ten times more ($2500) − that is very expensive!
</p>
<p>
I’m a computer hobbyist, so I decided to build such a system myself and, in the end, I managed to do it for a fragment of the price you would pay for the industrial equipment. I’ve been using the system for our family well for more than half a year, so I got more experience with it. Meanwhile, I figured out that I’m not the only one with a similar problem.
</p>
<h2>Manufacture</h2>
<p>
There’s no point in custom-made manufacturing of one or two pieces because it is rather expensive to buy the components individually. One can only buy them cheap by hundreds. If I can find at least 500 people here who would buy such a device, I can make it for you.
</p>
</body>
</html>
